@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #f0f8ff; /* Alice Blue */
        }

        .form-container {
            background: linear-gradient(150deg,#1e3a8a 33%,#3b82f6 34%,#4169E1 66%,#1e3a8a 67%);
            font-family: 'Poppins', sans-serif;
            text-align: center;
            padding: 30px 20px 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 12px;
            box-shadow: 0 0 20px rgba(0,0,0,0.4);
            width: 500px;
            height: 450px;
        }

            .form-container .title {
                color: #fff;
                font-size: 23px;
                text-transform: capitalize;
                letter-spacing: 1px;
                margin: 0 0 60px;
            }

            .form-container .form-horizontal {
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 20px rgba(0,0,0,0.4);
            }

        .form-horizontal {
            height: 300px;
        }

            .form-horizontal .form-icon {
                color: #fff;
                background-color: #1B394D;
                font-size: 75px;
                line-height: 92px;
                height: 90px;
                width: 90px;
                margin: -65px auto 10px;
                border-radius: 50%;
            }

            .form-horizontal .form-group {
                margin: 0 0 10px;
                position: relative;
            }

                .form-horizontal .form-group:nth-child(3) {
                    margin-bottom: 30px;
                }

                .form-horizontal .form-group .input-icon {
                    color: #e7e7e7;
                    font-size: 23px;
                    position: absolute;
                    left: 0;
                    top: 10px;
                }

            .form-horizontal .form-control {
                color: #000;
                font-size: 16px;
                font-weight: 600;
                height: 50px;
                padding: 10px 10px 10px 40px;
                margin: 0 0 5px;
                border: none;
                border-bottom: 2px solid #e7e7e7;
                border-radius: 0px;
                box-shadow: none;
            }

                .form-horizontal .form-control:focus {
                    box-shadow: none;
                    border-bottom-color: #92B9E3;
                }

                .form-horizontal .form-control::placeholder {
                    color: #000;
                    font-size: 16px;
                    font-weight: 600;
                }

            .form-horizontal .forgot {
                font-size: 13px;
                font-weight: 600;
                text-align: right;
                display: block;
            }

                .form-horizontal .forgot a {
                    color: #777;
                    transition: all 0.3s ease 0s;
                }

                    .form-horizontal .forgot a:hover {
                        color: #777;
                        text-decoration: underline;
                    }

            .form-horizontal .signin {
                color: #fff;
                background-color: #3b82f6;
                font-size: 17px;
                text-transform: capitalize;
                letter-spacing: 2px;
                width: 100%;
                padding: 12px;
                box-shadow: 0 0 10px rgba(0,0,0,0.3);
                transition: all 0.4s ease 0s;
            }

                .form-horizontal .signin:hover,
                .form-horizontal .signin:focus {
                    font-weight: 600;
                    letter-spacing: 5px;
                    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
                }

            .form-horizontal .form-control::placeholder {
                color: gray;
                font-weight: normal;
            }
    </style>
</head>

<body>
    <div class="form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <div class="form-container">
                        <h3 class="title">My Account</h3>
                        <form method="post" class="form-horizontal">
                            <div class="form-icon">
                                <i class="fa fa-user-circle"></i>
                            </div>
                            <div class="form-group">
                                <span class="input-icon" style="color:#1e3a8a"><i class="fa-regular fa-envelope"></i></span>
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <span class="input-icon" style="color:#1e3a8a"><i class="fa fa-lock"></i></span>
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group text-danger">
                                @ViewData["error"]
                            </div>
                            <div>
                                <button type="submit" class="btn text-white fw-bold" style="background-color: #4169E1">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>